@using FA.JustBlog.Core.Models
@model FA.JustBlog.Core.Models.Post

        <table class="table-bordered">
            <thead>
            </thead>
            <tbody>
                <h2 class="post-title">@Model.Title</h2>
                <p class="posted-time">@Model.PostContent</p>
                <p class="post">@Model.PostedOn</p>
            </tbody>
        </table>